* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tomorrow", sans-serif;
  font-weight: 450;
  font-style: normal;
}

body img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
body h2 {
  color: white;
}
body {
  color: white;
  background-color: lightblue;
}
body main {
  background-color: crimson;
}
body footer {
  background-color: rgb(173.25, 15.75, 47.25);
}
body ::selection {
  background-color: crimson;
  color: white;
}
body {
  color: rgb(255, 255, 255);
}
body a {
  text-decoration: none;
  color: #ffffff;
}
body a:hover {
  color: gold;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-template-areas: "header" "main" "footer";
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.242);
}
.dropdown-menu li:hover {
  background-color: crimson;
  color: black;
}
.dropdown-menu .dropdown-item {
  font-family: "Tomorrow", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: white;
  background-color: rgba(255, 255, 255, 0.242);
}
.dropdown-menu .dropdown-item:hover {
  background-color: crimson;
  color: gold;
}

.dropdown .btn {
  font-family: "Tomorrow", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: white;
}
.dropdown .btn:hover {
  background-color: crimson;
  color: gold;
}

header {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-area: header;
  justify-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: url(../img/tecnologia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .logo-titulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header .logo1 {
  border: 5px solid white;
  box-shadow: 5px 5px 15px black;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
header .logo1:hover {
  border: 5px solid crimson;
  cursor: pointer;
}
header h1 {
  text-shadow: 5px 5px 3px black;
}
header .account-titulo {
  width: 100%;
}
header div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
}
header div div {
  background-color: rgba(255, 255, 255, 0.242);
  border-radius: 10px;
}
header div div nav ul li {
  list-style: none;
}
header div .account {
  display: flex;
  flex-direction: column;
}

.marca {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 10px;
  width: auto;
  text-align: center;
  width: 100%;
  align-items: center;
  align-content: center;
}
.marca a {
  transition: transform 1s ease-in-out 1;
}
.marca a:hover {
  transform: scale(1.2), rotate(360deg);
}
.marca .marca-logo {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  border: 5px solid white;
  box-shadow: 5px 5px 15px black;
  transition: transform 1s ease-in-out 1;
}
.marca .marca-logo:hover {
  transform: rotate(360deg);
  border: 5px solid crimson;
}

.banner-div {
  background-image: url(../img/laptopbanner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 400px;
  width: 100%;
  height: 250px;
  padding: 20px;
  text-align: center;
}
.banner-div h2 {
  color: white;
  text-shadow: 5px 5px 3px black;
}

.card-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 40px;
  background-color: rgba(224, 255, 255, 0.372);
  padding: 8%;
  border-radius: 10px;
}
.card-cont .card {
  border: 2px solid darkblue;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: lightslategrey;
  width: 230px;
  border: 5px solid white;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  align-items: center;
}
.card-cont .card .nbproducto {
  width: 200px;
  height: 200px;
  padding: 30px;
  background-color: azure;
  border-radius: 10px;
}
.card-cont .card .nbproducto:hover {
  background-color: rgb(218, 249, 249);
}
.card-cont .card h3 {
  font-size: large;
}
.card-cont .card:hover {
  background-color: crimson;
  color: white;
  border: 5px solid rgb(218, 249, 249);
}

aside {
  display: none;
}
aside .sidebar {
  text-align: center;
}
aside .sidebar .divx form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
aside .sidebar .divx input {
  width: 130px;
}
aside .sidebar .divb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

ul li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(224, 255, 255, 0.372);
}

.container {
  width: auto;
  background-color: rgba(224, 255, 255, 0.372);
  border-radius: 10px;
}
.container section div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}
.container section div form input {
  width: 150px;
}

.cardz {
  background-color: beige;
  border: 2px solid crimson;
  width: 12rem;
  height: 14rem;
  perspective: 62rem;
}

.cardz-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
  background-color: blueviolet;
}

.cardz-front:hover .cardz-inner {
  transform: rotateY(180deg);
  background-color: crimson;
  border: 5px solid cornflowerblue;
}

.cardz-front, .cardz-back {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: darkorange;
}

.cardz-back {
  transform: rotateY(180deg);
  background-color: cornflowerblue;
}

h1:hover, .logo1:hover, .marca-logo:hover, .buttonx:hover, .card:hover {
  animation: 1.5s infinite anim-buttonx;
}

@keyframes anim-buttonx {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.rotar1 {
  transition: transform 0.5s ease-in-out;
}

.rotar1:hover {
  transform: rotate(360deg);
}

.div-producto p {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.div-producto .modelos {
  animation-name: aparecer;
  animation-duration: 9s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.div-producto {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  width: auto;
  text-align: center;
  margin: 10px;
  padding: 10px;
  align-items: center;
}
.div-producto p {
  background-color: rgba(220, 220, 220, 0.254);
  border-radius: auto;
  width: auto;
}
.div-producto img {
  width: 200px;
}
.div-producto .img-productos img {
  width: 200px;
  height: 200px;
}
.div-producto .modelos {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  width: auto;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.254);
  align-content: center;
  align-items: center;
}
.div-producto .modelos ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  width: auto;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 220px;
}
.div-producto .modelos ul li {
  list-style: none;
  width: auto;
}
.div-producto .modelos p {
  color: white;
  background-color: rgba(220, 220, 220, 0.254);
  width: auto;
  text-align: center;
}

.div-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: rgba(220, 220, 220, 0.254);
}
.div-contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

main {
  grid-area: main;
  background-image: url(../img/background.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main section {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url(../img/background.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainx {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.mainx aside {
  display: none;
}
.mainx .divx {
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 0.254);
}
.mainx .divx form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.mainx .divx input {
  width: 130px;
}

.divani {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 30px;
}

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.d-block {
  width: 100%;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightslategrey;
}
footer div ul li {
  list-style: none;
}

.containerx-footer {
  background-color: lightslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
}
.containerx-footer div {
  align-items: center;
  align-content: center;
}
.containerx-footer .logo {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  border: 5px solid white;
  box-shadow: 5px 5px 15px black;
}
.containerx-footer .logo:hover {
  border: 5px solid crimson;
  cursor: pointer;
}

.marca-logo1 {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  border: 5px solid white;
  box-shadow: 5px 5px 15px black;
}
.marca-logo1:hover {
  border: 5px solid crimson;
}

.buttonx {
  background-color: rgb(45, 81, 118);
  color: white;
  border: none;
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  width: auto;
}
.buttonx:hover {
  background-color: lightblue;
  color: black;
}
.buttonx:hover a {
  color: crimson;
}

.buttonx:active {
  background-color: crimson;
  color: black;
}
.buttonx:active a {
  color: gold;
}

@media (min-width: 500px) {
  body {
    grid-template-areas: "header header" "main main" "footer footer";
    grid-template-columns: 3fr 1fr;
  }
  body header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body header div {
    flex-direction: row;
    justify-content: space-between;
  }
  body header div .titulo {
    flex-direction: row;
    justify-content: space-around;
  }
  body main {
    margin: 0px;
  }
  body main .marca {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  body main .card-cont {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body main section .div-producto img {
    width: 400px;
  }
  body main section .div-producto .modelos {
    width: 500px;
  }
  body main section .div-producto .modelos ul {
    width: 400px;
  }
  body main section .div-producto .modelos ul li {
    width: auto;
  }
  body footer {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  body footer div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  body footer .containerx-footer {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  body footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  body {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: 1fr auto 1fr;
  }
  body header div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  body header .account-titulo {
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
  body main {
    grid-area: main;
    display: grid;
    grid-template-columns: 20% 1fr;
  }
  body main aside {
    display: block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.254);
  }
  body main section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: wrap;
  }
  body main aside {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.254);
  }
  body footer .containerx-footer {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
