*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 200,
    "SCAN" 200;
}

/*================ BODY============== */
body{
    background-color: lightsteelblue;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas: "header"
    "main"
    "footer";

}

header, main, footer, section, aside{
    background-color: lightsteelblue;
    
}

h2{
    color: white;
    margin: 10px;
}
h3{
    font-size: medium;
}
button{
    background-color: rgb(45, 81, 118);
    color: white;
    border: none;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}
button:hover{
    background-color: lightblue;
    color: black;
}
button:active{
    background-color: crimson;
    color: black;
}

::selection{
    background-color:crimson;
    color: white;
}

/* ===============INICIO HEADER=============== */
header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: lightslategrey;
    background-image: url(../IMG/tecnologia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.logo1{
    border: 5px solid white;
    box-shadow: 5px 5px 15px black;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.logo:hover, .logo1:hover{
    color: yellow;
}
h1{
    color: white;
    text-shadow: 5px 5px 15px black;
    cursor: pointer;
}
h1:hover{
    color: yellow;
}
h1:active{
    color: crimson;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(222, 251, 0);
}
a:active{
    color: crimson;
}
.account-titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
/* h1{
    
    color: darkblue;
    background-image: url(../IMG/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    border: 5px solid white;
    box-shadow: 5px 5px 15px black;
    
} */
.titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.account{
    background-color: rgba(220, 220, 220, 0.361);
    width: 100%;
    border-radius: 10px;
    gap: 20px;
}

.banner{
    width: 100%;
}


nav ul{
    list-style: none;
    align-items: center;
    height: 100%;
    gap: 10px;
}

/* ================INICIO MAIN================= */
main{
    grid-area: main;
    background-image:url(../IMG/background.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main section{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(../IMG/background.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

aside{display: none;}
/* Aca se me ocurrio no mostrar el aside en pantallas de mobil, puse display none y me lo tomo */

/* aside{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: lightcyan;
} */
aside ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid darkblue;
    border-radius: 10px;
    background-color: rgba(224, 255, 255, 0.532);
}

.mainx{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.mainx aside{
    display: none;
}

.divx{
    background-color: rgba(224, 255, 255, 0.532);
}
.banner-div{
    background-image: url(../IMG/laptopbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 400px;
    width: 100%;
    height: 250px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.card-cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 40px;
    background-color: rgba(224, 255, 255, 0.532);
    padding: 8%;
    border-radius: 10px;
}

.nbproducto{
    width: 200px;
    height: 200px;
    padding: 30px;
    background-color:azure ;
    border-radius: 10px;
}

.card{
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 5px 10px;
    background-color:lightslategrey ;
    width: 230px;
    border: 5px solid white;
    box-shadow: 5px 5px 15px black;
    text-align: center;
    align-items: center;
}
.card:hover{
    background-color: crimson;
    color: white;
}

.marca-logo{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 5px 5px 15px black;
}
.modelos, p{
    color: white;
    background-color: rgba(220, 220, 220, 0.361);
}
ul li{
    list-style: none;
}

.container{
    background-color: rgba(224, 255, 255, 0.532);
    border-radius: 10px;
}

.div-producto{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ========INICIO FOOTER========= */
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightslategrey;
}
.containerx-footer{
    background-color: lightslategrey;
}
footer div ul li{
    list-style: none;
}


.containerx-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.marca-logo1{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 5px 5px 15px black;
}

img{width: 300px;
height: 300px;}


@media (min-width:500px) {
    
}

/* ========MEDIA QUERIES========= */


@media (min-width:765px) {
    body{
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        grid-template-columns: 3fr 1fr;
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header div{
        flex-direction: row;
        justify-content: space-between;
    }
    .titulo{
        flex-direction: row;
        justify-content: space-around;
    }

    main{
        margin: 0px;
    }
    aside{
        display: block;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(224, 255, 255, 0.532);
    }
    .marca{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .card-cont{
        flex-direction: row;
        flex-wrap: wrap;
    }


footer{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.containerx-footer{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
footer div ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
}


@media (min-width:1024px) {
    body{
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 1fr auto 1fr;
    }
    .card-cont{
        flex-direction: wrap;
    }

header div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.logo1{
    border: 5px solid white;
    box-shadow: 5px 5px 15px black;
    width: 100px;
    height: 100px;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 20% 1fr;
}
main section{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: wrap;

}
aside{
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(224, 255, 255, 0.532);
}
.card-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}
/* .img-productos{
    display: flex;
    flex-direction: wrap;
    gap: 10px;
} */
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

}
