
    @use 'base/reset';
    @use 'utilities/variables';
    @use 'base/body';
    @use 'layout/header';
    @use 'layout/main';
    @use 'layout/footer';
    @use 'components/buttons';
    @use 'components/banner';
    @use 'layout/media-tablet';
    @use 'layout/media-laptop';
    @use 'components/aside';
    


// media querys



