@use '../utilities/variables' as variables;
@use '../utilities/mixins' as mixins;
@use '../components/dropdownmenu';

header {
    @include mixins.grid1(grid, center, center, 1fr, auto, header);
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: url(../img/tecnologia.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .logo-titulo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logo1 {
        border: 5px solid white;
        box-shadow: 5px 5px 15px black;
        width: 80px;
        height: 80px;
        border-radius: 100px;

        &:hover {
            border: 5px solid variables.$secondary-color;
            cursor: pointer;
        }
    }

    h1 {
        text-shadow: 5px 5px 3px black;
    }

    .account-titulo {
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        text-align: center;

        div {
            background-color: variables.$senary-color;
            border-radius: 10px;

            nav {
                ul {
                    li {
                        list-style: none;
                    }
                }
            }
        }

        .account {
            display: flex;
            flex-direction: column;
        }
    }
}

