
@use '../utilities/variables' as variables;
@media (min-width:1024px) {
    body{
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 1fr auto 1fr;
        header{
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                }
                .account-titulo{
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 20px;
                }
                }

                
        main{
            grid-area: main;
            display: grid;
            grid-template-columns: 20% 1fr;
                    aside{
        display: block;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: variables.$tenth-color;
    }
            section{
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                display: flex;
                flex-direction: wrap;
                }
            aside{
                margin: 20px;
                padding: 15px;
                border-radius: 10px;
                background-color: variables.$tenth-color;
            }

            }
            footer{
                .containerx-footer{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
                }
    
            }
        }