@use 'variables';
@mixin general($general){
    background-color: lightsteelblue;
    text-align: center;
    h2{
        color: white;
        margin: 10px;
    }
    h3{
        font-size: medium;
    }
    h1{
    color: white;
    text-shadow: 5px 5px 15px black;
    cursor: pointer;
    }
    h1:hover{
    color: greenyellow;
    }
    h1:active{
    color: crimson;
    }
    }

    @mixin layout-base {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
    text-align: center;
    align-items: center;
}

@mixin flex1($display, $justify, $direction){
    display: $display;
    justify-content: $justify;
    flex-direction: $direction;
    background-color: variables.$primary-color;
    border: 2px solid variables.$secondary-color;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}


@mixin flex2($display, $justify, $direction){
    display: $display;
    justify-content: $justify;
    flex-direction: $direction;
    border-radius: 10px;
    width: auto;
    text-align: center;
    // background-color: red;
}

@mixin grid1($display, $justify, $items, $columns,$rows , $area){
    display: $display;
    justify-content: $justify;
    justify-items: $items;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-area: $area;
}