$primary-color: lightblue;
$secondary-color: crimson;
$tertiary-color: rgba(2, 2, 2, 0.424);
$cuaternary-color: lightslategrey;
$quinary-color: azure;
$senary-color: rgba(95, 116, 142, 0.895);
$seventh-color: gold;
$octonary-color: darkblue;
$ninth-color: rgb(45, 81, 118);
$tenth-color: rgba(95, 116, 142, 0.636);
$text-color: #ffffff;

$danger: blue;
