$primary-color: lightblue;
$secondary-color: crimson;
$tertiary-color: rgba(224, 255, 255, 0.372);
$cuaternary-color: lightslategrey;
$quinary-color: azure;
$senary-color: rgba(255, 255, 255, 0.242);
$seventh-color: gold;
$octonary-color: darkblue;
$ninth-color: rgb(45, 81, 118);
$tenth-color: rgba(220, 220, 220, 0.254);
$text-color: #ffffff;


