$primary-color: lightblue;
$secondary-color: crimson;
$tertiary-color: rgba(74, 95, 107, 0.656);
$cuaternary-color: lightslategrey;
$quinary-color: azure;
$senary-color: rgba(47, 69, 94, 0.895);
$seventh-color: gold;
$octonary-color: darkblue;
$ninth-color: rgb(45, 81, 118);
$tenth-color: rgba(50, 68, 91, 0.898);
$text-color: #ffffff;

$danger: blue;
