@use '../utilities/variables';
@use '../utilities/mixins';

// CARD ANIMATION
.cardz {
  background-color: beige;
  border: 2px solid crimson;
  width: 12rem;
  height: 14rem;
  perspective: 62rem;
}


.cardz-inner {

  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
  background-color: blueviolet;
}

.cardz-front:hover .cardz-inner {
  transform: rotateY(180deg);
  background-color: crimson;
  border: 5px solid cornflowerblue;
}

.cardz-front,
.cardz-back {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: darkorange;
}

.cardz-back {
  transform: rotateY(180deg);
  background-color: cornflowerblue;
}



h1:hover,
.logo1:hover,
.marca-logo:hover,
.buttonx:hover,
.card:hover {
  animation: 1.5s infinite anim-buttonx;
}

@keyframes anim-buttonx {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}




.rotar1 {
  transition: transform 0.5s ease-in-out,
}

.rotar1:hover {
  transform: rotate(360deg);
}

.div-producto {
  p {
    animation-name: aparecer;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  .modelos {
    animation-name: aparecer;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  @keyframes aparecer {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}