@use '../utilities/variables';
aside{
    display: none;
    .sidebar{ 

        text-align: center;
        .divx{
        
            form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                align-content: center;        
            } 
            input{
                
                    width: 130px;
                }
            }
            .divb{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                align-content: center;  
            }
        }
    }
ul{
    li{
        list-style: none;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: variables.$tertiary-color;
        }
    }
