.banner-div{
    background-image: url(../img/laptopbanner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 400px;
    width: 100%;
    height: 250px;
    padding: 20px;
    text-align: center;
    h2{
        color: white;
        text-shadow: 5px 5px 3px black;
    }
    }