@use '../utilities/variables' as variables;
.buttonx {
    background-color: variables.$ninth-color;
    color: white;
    border: none;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    width: auto;

    &:hover {
        background-color: variables.$primary-color;
        color: black;

        a {
            color: variables.$secondary-color;
        }
    }
}

.buttonx:active {
    background-color: variables.$secondary-color;
    color: black;

    a {
        color: variables.$seventh-color;
    }
}

.buttonx1 {
    @extend .buttonx;
    background-color: rgba(76, 0, 130, 0.599);
    transition: transform 1s ease-in-out infinite;
}

.buttonx1:hover {
    background-color: indigo;
    color: black;
    transform: scale(1.2);

    a {
        color: variables.$secondary-color;
    }


}

.buttonx1:active {
    background-color: variables.$secondary-color;

    a {
        color: gold;
    }
}