@use '../utilities/variables' as variables;
.container{
    width: auto;
    background-color: variables.$tertiary-color;
    border-radius: 10px;
    section{
        div{ 
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            border-radius: 10px;
            form{
                input{
                    width: 150px;
                }
            }
        }
    }
}