    @use '../utilities/variables';
    @use '../utilities/mixins';

    .div-producto {
        @include mixins.flex2(flex, flex-start, column);
        margin: 10px;
        padding: 10px;
        align-items: center;

        // background-color: red;
        p {
            background-color: variables.$tenth-color;
            border-radius: auto;
            width: auto;
        }

        img {
            width: 200px;
        }

        .img-productos {
            img {
                width: 200px;
                height: 200px;
            }
        }

        .modelos {
            @include mixins.flex2(flex, flex-start, column);
            background-color: variables.$tenth-color;
            align-content: center;
            align-items: center;

            ul {
                @include mixins.flex2(flex, flex-start, column);
                align-items: center;
                align-content: center;
                width: 220px;

                li {
                    list-style: none;
                    width: auto;
                }
            }

            p {
                color: white;
                background-color: variables.$tenth-color;
                width: auto;
                text-align: center;

            }
        }
    }